@import "tailwindcss";
.tt{
     background-image: url(./assets/jerry-zhang-ePpaQC2c1xA-unsplash.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     z-index: 1;


}

.msg{
     z-index: 2;
     position: relative;
}

.scrollbar {
     scrollbar-width: thin;
     scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0); /* Thumb ve Track renkleri */
}
.scrollbar::-webkit-scrollbar {
     width: 8px;
}
   
.scrollbar::-webkit-scrollbar-thumb {
     background-color: rgba(0, 0, 0, 0.5); /* Thumb şeffaflığı */
}

.my_bg{
     background-color: rgba(0,0,0,0.7);
}

.opacity{
     background-color: rgba(0,0,0,0.3);
}