@import "tailwindcss";
.tt{
     background-image: url(./assets/hassaan-here-O8s_2_pEISg-unsplash.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     z-index: 1;


}

.msg{
     z-index: 2;
     position: relative;
}